class Whatismyip < Formula
  desc "Work out what your IP is"
  homepage "https://codeberg.org/${GITHUB_REPOSITORY}"
  url "https://codeberg.org/${GITHUB_REPOSITORY}/archive/${GITHUB_REF_NAME}.tar.gz"
  version "${VERSION}"
  sha256 "${FILE_SHA}"
  depends_on "rust" => :build

  def install
    system "cargo", "install", "--locked", "--root", prefix, "--path", "."
  end

  test do
    system "#{bin}/whatismyip", "-h"
    system "#{bin}/whatismyip", "-V"
  end
end
